# Xcode
#
build/
builds/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
dump.rdb

# OSX
.DS_Store

# CircleCI
Gemfile.lock
.bundle/
Ongo/ruby/

# Virutal ENV
venv/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
Pods/
Ongo/Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane specific
Ongo/fastlane/report.xml

# deliver temporary files
Ongo/fastlane/Preview.html

# snapshot generated screenshots
Ongo/fastlane/screenshots

# scan temporary files
Ongo/fastlane/test_output
Ongo/Ongo.app.dSYM.zip
Ongo/fastlane/FastlaneRunner
